# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore Django migrations
*/migrations/

# Ignore environment files
.env

# Ignore virtual environments
myenv

cvs/